name: Build Bankak APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Buildozer dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip build-essential git python3 zip unzip zlib1g-dev libffi-dev libssl-dev
          pip3 install --user --upgrade buildozer cython
      - name: Build with Buildozer
        run: buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: Bankak-Booster-App
          path: bin/*.apk
