name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 zip unzip zlib1g-dev libffi-dev libssl-dev autoconf automake libtool
          pip3 install --user --upgrade buildozer cython kivy
      - name: Setup Android SDK and Accept Licenses
        run: |
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
          yes | sdkmanager --licenses || true
      - name: Build with Buildozer
        run: |
          # نستخدم أمر الحذف لضمان البدء من جديد بدون أخطاء قديمة
          rm -rf .buildozer
          buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-App
          path: bin/*.apk
