name: APK Precision Tracking 71
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Tools
        run: |
          sudo apt update
          sudo apt install -y git zip unzip build-essential libffi-dev libssl-dev autoconf automake libtool
          python3 -m pip install --upgrade pip
          pip install --retries 10 --timeout 120 buildozer cython==0.29.33 kivy

      - name: Manual SDK & NDK Setup
        run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          mkdir -p $HOME/android-sdk/cmdline-tools
          cd $HOME/android-sdk/cmdline-tools
          curl -L -O
