name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            build-essential \
            openjdk-17-jdk \
            libffi-dev libssl-dev \
            wget unzip

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --retries 10 --timeout 120 buildozer cython

      - name: Download and set Android NDK r25b
        run: |
          cd $GITHUB_WORKSPACE
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip -O android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          mv android-ndk-r25b android-ndk-r25b-linux
          echo "ANDROID_NDK_HOME=$GITHUB_WORKSPACE/android-ndk-r25b-linux" >> $GITHUB_ENV

      - name: Accept Android SDK licenses and install Build Tools
        run: |
          yes | sdkmanager --licenses
          sdkmanager "platform-tools" "platforms;android-34" "build-tools;36.1.0"

      - name: Configure buildozer.spec paths
        run: |
          sed -i "s|^#\? *android.sdk_path *=.*|android.sdk_path = $ANDROID_HOME|" buildozer.spec
          sed -i "s|^#\? *android.ndk_path *=.*|android.ndk_path = $ANDROID_NDK_HOME|" buildozer.spec
          echo "==== buildozer.spec paths ===="
          grep -E "android.(sdk|ndk)_path" -n buildozer.spec || true

      - name: Build APK
        run: |
          buildozer -v android debug

      - name: List APK files
        run: |
          echo "==== bin folder ===="
          ls -la bin || true
          echo "==== Search APK ===="
          find . -type f -name "*.apk" || true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-Booster-Package
          path: bin/*.apk
          if-no-files-found: error