name: Build APK 37
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Build Tools
        run: |
          sudo apt update
          sudo apt install -y build-essential git zip unzip zlib1g-dev libffi-dev libssl-dev autoconf automake libtool
          pip install --upgrade pip buildozer cython kivy
      - name: Build with Buildozer
        run: |
          # مسح شامل للمخلفات السابقة لضمان ظهور التحديث 37
          rm -rf .buildozer
          # قبول الرخص وتشغيل البناء
          yes | buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-Booster-Final
          path: bin/*.apk
