name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 zip unzip zlib1g-dev libffi-dev libssl-dev
          pip3 install --user --upgrade buildozer cython kivy
      - name: Build with Buildozer
        run: |
          yes | sdkmanager --licenses || true
          buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-App
          path: bin/*.apk
