name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            build-essential \
            openjdk-17-jdk \
            libffi-dev libssl-dev

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --retries 10 --timeout 120 buildozer cython

      - name: Accept Android SDK licenses + Install Build Tools
        run: |
          yes | sdkmanager --licenses

          # Install required SDK packages (AIDL موجود هنا)
          sdkmanager --install \
            "platform-tools" \
            "platforms;android-34" \
            "build-tools;36.1.0"

      - name: Build APK
        run: |
          buildozer -v android debug

      - name: List APK files
        run: |
          echo "==== bin folder ===="
          ls -la bin || true
          echo "==== Search APK ===="
          find . -type f -name "*.apk" || true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-Booster-Package
          path: bin/*.apk
          if-no-files-found: error