name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            build-essential \
            openjdk-17-jdk \
            libffi-dev libssl-dev

          python -m pip install --upgrade pip
          pip install --retries 10 --timeout 120 buildozer cython

      - name: Accept Android SDK licenses
        run: |
          yes | sdkmanager --licenses

      - name: Build APK
        run: |
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-Booster-Package
          path: bin/*.apk