name: Ultimate Clean Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deep System Clean
        run: |
          rm -rf .buildozer
          rm -rf ~/.buildozer

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git zip unzip zlib1g-dev libffi-dev libssl-dev autoconf automake libtool
          pip3 install --user --upgrade buildozer cython kivy

      - name: Force Update Settings
        run: |
          # هذه الأوامر ستقوم بتعديل ملف الـ spec آلياً لإضافة NDK 25b و API 33
          sed -i 's/^#\? \?android.api = .*/android.api = 33/' buildozer.spec
          sed -i 's/^#\? \?android.ndk = .*/android.ndk = 25b/' buildozer.spec
          sed -i 's/^#\? \?android.ndk_path = .*/android.ndk_path = /' buildozer.spec

      - name: Build APK
        run: |
          # الآن سيبدأ البناء بالإعدادات الصحيحة التي أضفناها بالأعلى
          yes | buildozer android debug
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-Booster-Final
          path: bin/*.apk
