name: Build APK Final Fix
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 zip unzip zlib1g-dev libffi-dev libssl-dev autoconf automake libtool
          pip3 install --user --upgrade buildozer cython kivy
      - name: Hard Reset and Build
        run: |
          # مسح شامل للمجلدات والمؤقتات لضمان التحديث 37
          rm -rf .buildozer
          rm -rf ~/.buildozer
          # تشغيل البناء مع قبول الرخص إجبارياً
          yes | buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Bankak-App-Success
          path: bin/*.apk
